@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(../static/snow.png), url(../static/snow.png), url(../static/cats.png);
  background-repeat: repeat;
  background-position: center, center, center;
  background-size: auto auto, auto auto, contain;
  background-attachment: fixed, fixed, fixed;
  background-size: contain;
  animation-name: snow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  font-family: 'Comic Sans MS';
}

.bg-postcard {
  background: repeating-linear-gradient(
    45deg,
    #66CCFF,
    #66CCFF 30px,
    #FFFFFF 30px,
    #FFFFFF 60px,
    #FBE3D6 60px,
    #FBE3D6 90px,
    #FFFFFF 90px,
    #FFFFFF 120px
  );
}

.bg-postcard-nowhite {
  background: repeating-linear-gradient(
    45deg,
    #66CCFF,
    #66CCFF 30px,
    #FBE3D6 30px,
    #FBE3D6 60px
  );
}

.flex-0 {
  flex: 0 1 0%;
}

.postcard > div {
  @apply bg-white;
}

@keyframes snow {
  0% {
    background-position: 130px 40px, 0 0, 0 0;
  }
  100% {
    background-position: 130px 640px, 0 300px, 0 0
  }
}
